*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.toolbar{
    background: #6c5151;
    max-height: 10em;
    padding: 30px;
   
}

.humbuger{
    display: none;
}

.toolbar div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{

    border-radius: 4%;
    padding:8px;
    color: rgb(226, 230, 234);
    font-weight: 200px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.list1{
    display: flex;
    gap:20px;
}

.list1 a{
    color: rgb(226, 230, 234);
    font-size: 24px;
    padding: 10px;
    background: #5e4f4f;
    border-radius: 20%;
    font-weight: bold;
}

.list1 a:hover{
    color: black;
    background: rgb(rgb(237, 152, 152), green, blue);
    transition: 2s;
}


@media(max-width:768px){
    .toolbar{
        max-height: 100vh;
        display: flex;
        align-items: center;
    }

    .list1{
        top: 20px;
        display: none;
        right:20px;
        background: blue;
        align-items: center;
        padding-top: 60px;
        gap: 40px;
        position: absolute;
        flex-direction: column;
        z-index: 2;
        height: 100vh;
        left: -200px;
        pointer-events: none;
        opacity: 0;
        

    }
    
    .toolbar .container .active .list1{
        opacity: 0.3;
        display: contents;
        left: 0px;
        pointer-events: fill;

    }
    .list1 a{
        border-radius: none;
        background: none;
        
    }

    .logo{
        font-size: 20px;
        left: 40px;

    }
    .humbuger{
        height: 40px;
        max-width: fit-content;
        z-index: 3;
    
    }

    
    .items{
        gap:5px;
        display: flex;
        flex-direction: column;
        padding: 7px;
        border-radius: 10%;
        background: #310101;
    }

    .items li{
        width:20px;
        height: 2px;
    
        background-color: aliceblue;
    }

    .active .item1{
        transform: translate(0px, 4px) rotate(45deg);
    }

    .active .item2{
        display: none;
    }
    .active .item3{
        transform: translate(0px, -4px) rotate(-45deg);
    }
    }


#map{
    z-index: 1;
    height: 100vh;
    width: 100%;
}